.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients-list li {
  margin: 15px;
  width: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  fill: $svgColor;
  border: 1px solid $svgColor;
  border-radius: 4px;
  transition: fill $transitionProperty, border-color $transitionProperty;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
.clients-link .icon {
  height: 50px;
}
