$title-color: #212121;
$secondary-title-color: #ffffff;
$text-color: #757575;
$accent-color: #2196f3;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$border-header-color: #ececec;
$svgColor: #afb1b8;
$border-portfolio-color: #eeeeee;

$mainFont: Roboto, sans-serif;
$logoFont: raleway, sans-serif;

$transitionProperty: 250ms cubic-bezier(0.4, 0, 0.2, 1);
